### Case study

- In today increasingly complicated world with a variety of businesses and procedures within, manually extracting information from invoices can be time-consuming. Additionally, there are various issues that arise throughout the processing of an invoice. Develop a method to retrieve this data automatically thatcould help businesses digitize and automate the whole process of invoice extraction.
- We need to extract the Data-Points like company name, amount, address and date

### Conclusion

- As we have millions of scanned receipt images, which is almost are in same format. We will be trying to select few images and try to build model using pytesseract OCR and boundig boxes to get the required data as it needs higher system configuration having very good GPU to get the data from all images. so for now let's build with few images and check.
- Once we have built the solution, we will save it github repo & deploy in heoku using docker.

In [ ]:
## Importing neccessary libraries
import re
import cv2 
import numpy as np
import pytesseract
from pytesseract import Output
import pandas as pd

In [3]:
import pytesseract
pytesseract.pytesseract.tesseract_cmd = r'C:\Program Files\Tesseract-OCR\tesseract'

#### Checking for 1st invoice

In [66]:
# Plot 1st original image

image = cv2.imread('X00016469612.jpg')
cv2.imshow('sample image', image)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [5]:
## Getting the text from image
txt = pytesseract.image_to_string(image)
print(txt)

tan woon yann

BOOK TAK (TAMAN DAYA) SDN BHD
PBO4N7-W
NO.5? 55,57 & 59, JALAN SAGU 18,
TAMAN DAYA
81100 JOHOR BAHRU,
JOHOR.

WAM MITT ANE Tt

Document No : TDO1167104

Date 25/12/2018 8:13:39 PM
Cashier MANIS
Member
CASH BILL
CODE/DESC PRICE — Disc AMOUITE
Quy RM RM
9556939040118 KF MODELLING CLAY KIDDY FISH
1PC * 9.00) 6,00 9.00
Total 9,00
Rour ding Adjustment 0.00

Round::d Total (RM):

9.60

Cash
CHANGE

GOODS SOLD ARE NOT RETURNAP
EXCHANGEABLE

THANK YOU
PLEASE COME AGATY t

In [67]:
## Bounding boxes

img = cv2.imread('X00016469612.jpg')
height, width, _ = img.shape

boxes = pytesseract.image_to_boxes(img)
for box in boxes.splitlines():
    box = box.split(" ")
    img = cv2.rectangle(img, (int(box[1]), height -int(box[2])), (int(box[3]), height - int(box[4])), (0, 225, 0), 2)
    
cv2.imshow('img', img)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [6]:
len(txt) ## checking the original length

483

In [8]:
res = re.split("\n",txt) ## removing the next line
print(res)

['tan woon yann', '', 'BOOK TAK (TAMAN DAYA) SDN BHD', 'PBO4N7-W', 'NO.5? 55,57 & 59, JALAN SAGU 18,', 'TAMAN DAYA', '81100 JOHOR BAHRU,', 'JOHOR.', '', 'WAM MITT ANE Tt', '', 'Document No : TDO1167104', '', 'Date 25/12/2018 8:13:39 PM', 'Cashier MANIS', 'Member', 'CASH BILL', 'CODE/DESC PRICE — Disc AMOUITE', 'Quy RM RM', '9556939040118 KF MODELLING CLAY KIDDY FISH', '1PC * 9.00) 6,00 9.00', 'Total 9,00', 'Rour ding Adjustment 0.00', '', 'Round::d Total (RM):', '', '9.60', '', 'Cash', 'CHANGE', '', 'GOODS SOLD ARE NOT RETURNAP', 'EXCHANGEABLE', '', 'THANK YOU', 'PLEASE COME AGATY t', '']

In [9]:
len(res) ## checking the length after removing the extra lines

37

In [10]:
## removing the empty strings
for i in res:
    if(len(i)==0):
        res.remove(i)

In [11]:
res

['tan woon yann',
 'BOOK TAK (TAMAN DAYA) SDN BHD',
 'PBO4N7-W',
 'NO.5? 55,57 & 59, JALAN SAGU 18,',
 'TAMAN DAYA',
 '81100 JOHOR BAHRU,',
 'JOHOR.',
 'WAM MITT ANE Tt',
 'Document No : TDO1167104',
 'Date 25/12/2018 8:13:39 PM',
 'Cashier MANIS',
 'Member',
 'CASH BILL',
 'CODE/DESC PRICE — Disc AMOUITE',
 'Quy RM RM',
 '9556939040118 KF MODELLING CLAY KIDDY FISH',
 '1PC * 9.00) 6,00 9.00',
 'Total 9,00',
 'Rour ding Adjustment 0.00',
 'Round::d Total (RM):',
 '9.60',
 'Cash',
 'CHANGE',
 'GOODS SOLD ARE NOT RETURNAP',
 'EXCHANGEABLE',
 'THANK YOU',
 'PLEASE COME AGATY t']

In [12]:
len(res) ## final length

27

#### Checking name

In [85]:
print('Name =', res[1])

Name = BOOK TAK (TAMAN DAYA) SDN BHD

#### Checking Address

In [14]:
add0 = res[3:7] # using indexing and slicing to get the specific data
add0

['NO.5? 55,57 & 59, JALAN SAGU 18,',
 'TAMAN DAYA',
 '81100 JOHOR BAHRU,',
 'JOHOR.']

In [15]:
final_add0 = ' '.join(add0)
print('Address=',final_add0)

Address= NO.5? 55,57 & 59, JALAN SAGU 18, TAMAN DAYA 81100 JOHOR BAHRU, JOHOR.

#### Date

In [16]:
print('Date=', res[9])

Date= Date 25/12/2018 8:13:39 PM

In [108]:
dt =re.findall(r'\d+[/.-]\d+[/.-]\d+', txt)
ft=" "
ft=ft.join(dt)
print(ft)

25/12/2018

#### Total amount

In [18]:
print('Total=', res[16])

Total= 1PC * 9.00) 6,00 9.00

In [19]:
amt = res[16].split()
amt

['1PC', '*', '9.00)', '6,00', '9.00']

In [20]:
print('Total=',amt[4])

Total= 9.00

### Final Output

In [110]:
print('Name =', res[1],'\n''Address=',final_add0,'\n''Total=',amt[4],'\n',ft)

Name = BOOK TAK (TAMAN DAYA) SDN BHD
Address= NO.5? 55,57 & 59, JALAN SAGU 18, TAMAN DAYA 81100 JOHOR BAHRU, JOHOR.
Total= 9.00
 25/12/2018

#### Checking for 2nd invoice

- We need to follow same steps as above to get the specific data from invoice for 2nd and 3rd invoice

In [21]:
# Plot 2nd original image

image = cv2.imread('pic1.jpg')
cv2.imshow('sample image', image)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [22]:
txt1 = pytesseract.image_to_string(image)
print(txt1)

tan chay yee

OJC MARKETING SDN BHD
ROC NO: 538358-H
NO 2 & 4, JALAN BAYU 4,
BANDAR SERI ALAM,
81750 MASAI, JOHOR
Tel:07-388 2218 Fax:07-386 9218
Email: ng@ojegroup.com

Cash Bill

“Fnvoice No" PEGIV-1030831
Date 02/01/2019 2:47:14 PM
Cashier: RHYS TAN

Sales Persor : FATIN

__Descniption ——Qty_——Price_ Amount
oooado2i1 1170.00 “170.00
KINGS SAFETY Poot

SHOES KWO 805

“Qty T Total Ttem Discoun
Total Amount:

TOTAL:
VISA CARD: 170.00
2600000000643 18

Approval Code:123 I. WO

Goods Sold Are Not Returnable & Refundable
~*=*Thank You. Please Come Again.****

In [23]:
len(txt1)

562

In [63]:
img = cv2.imread('pic1.jpg')
height, width, _ = img.shape

boxes = pytesseract.image_to_boxes(img)
for box in boxes.splitlines():
    box = box.split(" ")
    img = cv2.rectangle(img, (int(box[1]), height -int(box[2])), (int(box[3]), height - int(box[4])), (0, 225, 0), 2)
    
cv2.imshow('img', img)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [24]:
res1 = re.split("\n",txt1)
print(res1)

['tan chay yee', '', 'OJC MARKETING SDN BHD', 'ROC NO: 538358-H', 'NO 2 & 4, JALAN BAYU 4,', 'BANDAR SERI ALAM,', '81750 MASAI, JOHOR', 'Tel:07-388 2218 Fax:07-386 9218', 'Email: ng@ojegroup.com', '', 'Cash Bill', '', '“Fnvoice No" PEGIV-1030831', 'Date 02/01/2019 2:47:14 PM', 'Cashier: RHYS TAN', '', 'Sales Persor : FATIN', '', '__Descniption ——Qty_——Price_ Amount', 'oooado2i1 1170.00 “170.00', 'KINGS SAFETY Poot', '', 'SHOES KWO 805', '', '“Qty T Total Ttem Discoun', 'Total Amount:', '', 'TOTAL:', 'VISA CARD: 170.00', '2600000000643 18', '', 'Approval Code:123 I. WO', '', 'Goods Sold Are Not Returnable & Refundable', '~*=*Thank You. Please Come Again.****', '']

In [25]:
for i in res1:
    if(len(i)==0):
        res1.remove(i)

In [26]:
res1

['tan chay yee',
 'OJC MARKETING SDN BHD',
 'ROC NO: 538358-H',
 'NO 2 & 4, JALAN BAYU 4,',
 'BANDAR SERI ALAM,',
 '81750 MASAI, JOHOR',
 'Tel:07-388 2218 Fax:07-386 9218',
 'Email: ng@ojegroup.com',
 'Cash Bill',
 '“Fnvoice No" PEGIV-1030831',
 'Date 02/01/2019 2:47:14 PM',
 'Cashier: RHYS TAN',
 'Sales Persor : FATIN',
 '__Descniption ——Qty_——Price_ Amount',
 'oooado2i1 1170.00 “170.00',
 'KINGS SAFETY Poot',
 'SHOES KWO 805',
 '“Qty T Total Ttem Discoun',
 'Total Amount:',
 'TOTAL:',
 'VISA CARD: 170.00',
 '2600000000643 18',
 'Approval Code:123 I. WO',
 'Goods Sold Are Not Returnable & Refundable',
 '~*=*Thank You. Please Come Again.****']

In [27]:
len(res1)

25

In [28]:
print('Name =', res1[1])

Name = OJC MARKETING SDN BHD

In [29]:
add2 = res1[3:6]
add2

['NO 2 & 4, JALAN BAYU 4,', 'BANDAR SERI ALAM,', '81750 MASAI, JOHOR']

In [30]:
final_add = ' '.join(add2)
print('Address=',final_add)

Address= NO 2 & 4, JALAN BAYU 4, BANDAR SERI ALAM, 81750 MASAI, JOHOR

In [31]:
print('Total=', res1[20])

Total= VISA CARD: 170.00

In [32]:
Amount = res1[20].split()

In [33]:
print(Amount)

['VISA', 'CARD:', '170.00']

In [34]:
print('Total=',Amount[2])

Total= 170.00

In [111]:
dt1 =re.findall(r'\d+[/.-]\d+[/.-]\d+', txt1)
ft1=" "
ft1=ft1.join(dt1)
print(ft1)

02/01/2019

### Final output

In [112]:
print('Name =', res1[1],'\n''Address=',final_add,'\n''Total=',Amount[2],'\n',ft1)

Name = OJC MARKETING SDN BHD
Address= NO 2 & 4, JALAN BAYU 4, BANDAR SERI ALAM, 81750 MASAI, JOHOR
Total= 170.00
 02/01/2019

#### Checking for 3rd invoice

In [36]:
# Plot 3rd original image

image = cv2.imread('X51005676538.jpg')
cv2.imshow('sample image', image)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [37]:
txt2 = pytesseract.image_to_string(image)
print(txt2)

9 \g Of O14

4

SYARIKAT PERNIAGAAN GIN KEE
(81109-A)
NO 290, JALAN AIR PANAS,
SETAPAK,
$3200, KUALA LUMPUR.
TEL : 03-40210276
GST ID : 000750673920
SIMPLIFIED TAX INVOICE

‘CASH
Doc No ~ ©S00012543 Date: 04/01/2018
Cashier USER Time: 16:39:00
Salesperson - Ref. :
lttem_ Qty S/Price Amount Tax
2402 1 3.71 3.71 SR
25MM GI NIPPLE
1462 2 0.64 1.27 SR
SEAL TAPE
1748 1 5.83 583 SR
32MM POLY SOCKET
2247 1 33.92 33.92 SR
1" BALL VALVE
r TotalQty, 6 44.73
Total Sales (Excluding GST) : 42.20
Discount : 0.00
TotalGST : 2.53
Rounding - 0.00
Total Sales (Inclusive of GST) : 44.73
CASH : 44.73
Change : 0.00

GST SUMMARY

Tax Code ‘ Amt(RM) Tax(RM)
SR 6 42.20 2:53

Total : 42.20 2.53 |/

GOODS SOLD ARE NOT RETURNABLE, THANK YOU.

-_

In [38]:
len(txt2)

729

In [68]:
img = cv2.imread('X51005676538.jpg')
height, width, _ = img.shape

boxes = pytesseract.image_to_boxes(img)
for box in boxes.splitlines():
    box = box.split(" ")
    img = cv2.rectangle(img, (int(box[1]), height -int(box[2])), (int(box[3]), height - int(box[4])), (0, 225, 0), 2)
    
cv2.imshow('img', img)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [39]:
res2 = re.split("\n",txt2)
print(res2)

['9 \\g Of O14', '', '4', '', 'SYARIKAT PERNIAGAAN GIN KEE', '(81109-A)', 'NO 290, JALAN AIR PANAS,', 'SETAPAK,', '$3200, KUALA LUMPUR.', 'TEL : 03-40210276', 'GST ID : 000750673920', 'SIMPLIFIED TAX INVOICE', '', '‘CASH', 'Doc No ~ ©S00012543 Date: 04/01/2018', 'Cashier USER Time: 16:39:00', 'Salesperson - Ref. :', 'lttem_ Qty S/Price Amount Tax', '2402 1 3.71 3.71 SR', '25MM GI NIPPLE', '1462 2 0.64 1.27 SR', 'SEAL TAPE', '1748 1 5.83 583 SR', '32MM POLY SOCKET', '2247 1 33.92 33.92 SR', '1" BALL VALVE', 'r TotalQty, 6 44.73', 'Total Sales (Excluding GST) : 42.20', 'Discount : 0.00', 'TotalGST : 2.53', 'Rounding - 0.00', 'Total Sales (Inclusive of GST) : 44.73', 'CASH : 44.73', 'Change : 0.00', '', 'GST SUMMARY', '', 'Tax Code ‘ Amt(RM) Tax(RM)', 'SR 6 42.20 2:53', '', 'Total : 42.20 2.53 |/', '', 'GOODS SOLD ARE NOT RETURNABLE, THANK YOU.', '', '-_', '']

In [40]:
len(res2)

46

In [41]:
for i in res2:
    if(len(i)==0):
        res2.remove(i)

In [42]:
res2

['9 \\g Of O14',
 '4',
 'SYARIKAT PERNIAGAAN GIN KEE',
 '(81109-A)',
 'NO 290, JALAN AIR PANAS,',
 'SETAPAK,',
 '$3200, KUALA LUMPUR.',
 'TEL : 03-40210276',
 'GST ID : 000750673920',
 'SIMPLIFIED TAX INVOICE',
 '‘CASH',
 'Doc No ~ ©S00012543 Date: 04/01/2018',
 'Cashier USER Time: 16:39:00',
 'Salesperson - Ref. :',
 'lttem_ Qty S/Price Amount Tax',
 '2402 1 3.71 3.71 SR',
 '25MM GI NIPPLE',
 '1462 2 0.64 1.27 SR',
 'SEAL TAPE',
 '1748 1 5.83 583 SR',
 '32MM POLY SOCKET',
 '2247 1 33.92 33.92 SR',
 '1" BALL VALVE',
 'r TotalQty, 6 44.73',
 'Total Sales (Excluding GST) : 42.20',
 'Discount : 0.00',
 'TotalGST : 2.53',
 'Rounding - 0.00',
 'Total Sales (Inclusive of GST) : 44.73',
 'CASH : 44.73',
 'Change : 0.00',
 'GST SUMMARY',
 'Tax Code ‘ Amt(RM) Tax(RM)',
 'SR 6 42.20 2:53',
 'Total : 42.20 2.53 |/',
 'GOODS SOLD ARE NOT RETURNABLE, THANK YOU.',
 '-_']

In [43]:
len(res2)

37

In [74]:
Name = print('Name =', res2[2])

Name = SYARIKAT PERNIAGAAN GIN KEE

In [45]:
Add = res2[4:6]

In [46]:
Add

['NO 290, JALAN AIR PANAS,', 'SETAPAK,']

In [47]:
Add1 = res2[6]

In [48]:
n = Add1.split()[1:3]
n

['KUALA', 'LUMPUR.']

In [49]:
new_add = Add+n
new_add

['NO 290, JALAN AIR PANAS,', 'SETAPAK,', 'KUALA', 'LUMPUR.']

In [50]:
final_add1 = ' '.join(new_add)
print('Address=',final_add1)

Address= NO 290, JALAN AIR PANAS, SETAPAK, KUALA LUMPUR.

In [51]:
amt1 = res2[19].split()

In [52]:
amt1

['1748', '1', '5.83', '583', 'SR']

In [72]:
Total = print('Total=',amt1[3])

Total= 583

In [113]:
dt2 =re.findall(r'\d+[/.-]\d+[/.-]\d+', txt2)
ft2=" "
ft2=ft2.join(dt2)
print(ft2)

04/01/2018

#### Final Output

In [115]:
print('Name =', res2[2],'\n''Address=',final_add1,'\n''Total=',amt1[3],'\n',ft2)

Name = SYARIKAT PERNIAGAAN GIN KEE
Address= NO 290, JALAN AIR PANAS, SETAPAK, KUALA LUMPUR.
Total= 583
 04/01/2018